Grit_Flags.docx
*.ini
*.gba
build/*
*/Images/*.h
*.sgm
*.dmp
*.bak
*.lnk
*.sav
*.sa1
*.sg1
*.ss1
*.ss2
*.ss3
*.ss4
*.ss5
*.ss6
*.ss7
*.ss8
*.ss9
*.toml
strings/mystery_gift_passwords.string
strings/scripts/namebox_names.string

generatedrepoints
*__pycache__
*.idea
tables.xlsx

# generated temporary files
.fuse*

# pycache files
*.pyc